.Button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--btn-bg);
    font-size: 1.4rem;
    color: var(--white);
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    padding: 1.3rem 1.4rem;
    border: none;
    border-radius: 0.6rem;
    text-transform: uppercase;
    width: 10.3rem;
    cursor: pointer;
}

.IconPlus{
    font-size: 2.4rem !important;
}